.header{
    background-color:#007bff;
    text-align: right;
    padding:10px;
    color:white;
    border-bottom: 5px solid black;
    h1{
        font-size: 60px;
        margin: 0;
        text-shadow: -2px 3px white;
    }
    p{
        font-size: 25px;
        padding: 0;
        margin:0;
        font-style: italic;
    }
}
.info{
    background-color: gray;
    color: white;
    padding:30px;
    h3{
        color:#007bff;
        font-weight: 700;
    }
    .hv{
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 70%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .knlv{
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 50%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .ktcm{
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 50%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .npdl{
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 50%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .far,.fas,.fab{
        color: white;
        background-color: #007bff;
        padding: 3px;
        border-radius: 100%;
    }
}
.add{
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 20px;
    h3{
        color: #007bff;
    }
    img{
        width: 200px;
        height: 200px;
        border-radius: 100%;
        margin-left: 20px;
    }
    .info{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: gray;
        
    }
    .kn{
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 50%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .st{
        margin-top:20px;
        position: relative;
        &:after{
            content: '';
            display:block;
            width: 50%;
            position: absolute;
            height: 5px;
            background:white;
            right: 0;
            top:50%;
        }
    }
    .far,.fas,.fab{
        color: white;
        background-color: #007bff;
        padding: 3px;
        border-radius: 100%;
    }
}
.row{
    margin-right: 0; 
    margin-left: 0; 
}
#login{
    background-image: linear-gradient(to right,green,blue); 
    padding:100px 0 100px 0;
    .frame{
        opacity: 0.8;
        border:1px solid white;
        border-radius: 10px;
        padding:70px 20px 20px 20px;
        .user,.pass{
            border:0px solid white;
            background-color: white;
        }
    }
    .copyright{
        .copytext{
            color: white;
            text-align: center;
            position: relative;
        }
    }
    .image{
        position: relative;
        top:70px;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
        border-radius: 100%;
        display: inline-block;
        width: 150px;
        height: 150px;
        z-index: 2;
        
        .fas{
            font-size:80px;
            color: white;
            text-align: center;
            position:absolute;
            top:25px;
            left:35px;
        }
    }
}
footer{
    height: 100px;
    line-height: 100px;
    padding:0 30px 0 30px;
    background-color: black;
    opacity: 0.8;
    .left{
        text-align: left;
        color: white;
        font-size: 40px;
    }
    .right{
        text-align: right;
        color: white;
    }
}